<div ng-controller="ProjectCtrl" class="view project">

  <div class="controls">

    <div class="prev">
      <a class="project-nav" ng-href="#projects/{{ projectPrev.name }}" ng-if="projectPrev"><i class="fa fa-angle-double-left"></i></a>
    </div>

    <div class="next">
      <a class="project-nav" ng-href="#projects/{{ projectNext.name }}" ng-if="projectNext"><i class="fa fa-angle-double-right"></i></a>
    </div>

  </div>

  <h1>{{ project.title }}</h1>

  <div class="project-header" ng-if="internalUrl">
    <iframe width="970" height="275" ng-src="{{ internalUrl }}" scrolling="no"></iframe>
    <span class="adblock">Make sure to pause your AdBlock!</span>
    <i class="fa fa-refresh" ng-click="refresh()"></i>
    <h4 class="sorry">Sorry, this project isn't intended for devices.</h4>
  </div>

  <div class="project-header external" ng-if="externalUrl">
    <div class="banner"></div>
    <i class="fa fa-external-link" ng-click="go()"></i>
  </div>

  <section class="project-content" ng-cloak>

    <aside class="sidebar">
      
      <div class="date">
        <span><strong>Project Date:</strong> {{ date }}</span>
      </div>

      <div class="tech">
        <span><strong>Technologies:</strong></span>

        <ul>
          <li ng-repeat="tech in technology">{{ tech }}</li>
        </ul>

      </div>

      <div class="crafted"></div>

    </aside>

    <article ng-include="content"></article>

  </section>

</div>