<div ng-controller="ProjectCtrl" class="view project">

  <h1>{{ project.title }}</h1>


  <div class="controls">

    <div class="prev">
      <a class="project-nav" ng-href="#projects/{{ projectPrev.name }}" ng-if="projectPrev"><i class="fa fa-angle-double-left"></i></a>
    </div>

    <div class="next">
      <a class="project-nav" ng-href="#projects/{{ projectNext.name }}" ng-if="projectNext"><i class="fa fa-angle-double-right"></i></a>
    </div>

  </div>

  <div class="project-header" ng-if="internalUrl">
    <iframe width="970" height="250" ng-src="{{ internalUrl }}"></iframe>
    <h4>Sorry, this project wasn't designed for devices.</h1>
  </div>

  <div class="project-header external" ng-if="externalUrl"></div>

</div>