// base css structure

body, html
  width 100%
  height 100%
  background $white
  
  .nope
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display none
    
    @media only screen and (max-device-width: 1025px) and (orientation: landscape)
      display block
    
    .whoopsy
      position relative
      width 400px
      height 100px
      top 50%
      left 50%
      margin-left -200px
      margin-top -50px
      text-align center
      
      h2
        font 700 18px/24px $headFont
        color $navy
      
      a
        font 700 14px/18px $headFont
        color $orange
        text-decoration none
      
      .browser
        display none
      
      .landscape
        display none
      
        @media only screen and (max-device-width: 1025px) and (orientation: landscape)
          display block

  .wrap
    display flex
    flex-flow row wrap
    align-content flex-start
    width 100%
    height 100%
    margin 0
    padding 0
    overflow hidden
    
    @media only screen and (max-device-width: 1025px) and (orientation: landscape)
      display none

    .desktop-header
      display none
      @media $tablet
        display block
        padding 0 50px
        box-sizing border-box
        flex 1 100%
        min-height 150px
        height 15%

      @media $desktop
        padding 0 0

    .mobile-header
      position relative
      background $navy
      flex 1 60%
      height 60px
      
      h4
        position relative
        top -4px
        font 700 28px/0px $headFont
        letter-spacing 2px
        text-indent 15px
        text-transform uppercase
        color $orange
      
      @media $tablet
        display none

    .content
      position relative
      flex 1 100%
      height calc(100% - 60px)
      overflow-x hidden
      
      @media $short
        min-height calc(100% - 150px)
        height 77%
  
      @media $tooShort
        height auto

      .content-wrap
        min-width calc(100% + 180px)
        height 100%

        @media $tablet
          min-width 100%

        #menu
          float left
          position fixed
          margin-left -100%
          width 180px
          height 100%
          background $navy
          z-index 9999
          @media $tablet
            display none
        
        .pane
          float left
          width calc(100% - 180px)
          height 100%

          @media $tablet
            width 100%

          .view
            width 100%
            box-sizing border-box
            padding 10px 15px 0 15px
            @media $tablet
              padding 10px 50px
            @media $laptop
              padding 10px 35px
            @media $desktop
              padding 10px 0
              max-width 1280px
              margin 0 auto

    footer
      display none

      @media $tooShort
        display block
        flex 1 100%
        min-height 125px
        height 15%