.header-wrap
  position relative
  max-width 1280px
  height 100%
  margin 0 auto

  .logo
    display block
    position absolute
    width 100px
    top 50%
    transform translateY(-50%)

  nav 
    display block
    position relative
    float right
    width auto
    height 58px
    top 50%
    right 0
    transform translateY(-50%)

    ul
      position relative
      right 0
      list-style none
      margin 0
      padding 0
      li 
        display inline-block
        padding 0 15px

        &:nth-child(1)
          padding-left 0
          a
            padding-left 0

        &:nth-child(3)
          padding-right 0
          a
            padding-right 0

        a 
          text-decoration none
          display block
          color $navy
          padding 1em
          font 700 18px/24px $headFont
          letter-spacing 2px
          text-transform uppercase
          color $navy
          transition all 0.4s ease-out
          &:after
            bottom -2px
            content ''
            display block
            height 2px
            left 0
            position relative
            background $orange
            transition width 0.3s ease 0s, left 0.3s ease 0s
            width 0

          &:hover:after 
            width 99%
