// presets
@import 'nib'
@import 'variables'
@import 'vendor/normalize.css'

// site structure
@import 'base'
@import 'hamburger'
@import 'nav'
@import 'work'

p 
  width 400px

#bottom
  display block