#menu
  background $navy

  .mobile-wrap
    position relative
    top 50%
    height 260px
    transform translateY(-50%)
    margin-top -60px
    
    .mobile-logo
      position relative
      width 50%
      left 50%
      margin-bottom 20px
      transform translateX(-50%)

    ul
      position relative
      list-style none
      margin 0
      padding 0
      display inline
      width 100%
      li 
        width 100%
        padding 0 15px
        text-align center
        box-sizing border-box

        a 
          text-decoration none
          display block
          padding 1em
          color $orange
          font 700 16px/24px $headFont
          letter-spacing 2px
          text-transform uppercase
          transition all 0.4s ease-out
