// page styles

.hook
  color $hook
  text-decoration underline

.link
  float left
  color $orange
  text-decoration underline
  clear both

.sig
  float left
  width 300px
  margin-left -10px
  clear both

.about

  article p
    width 100%
    max-width 600px
