// page styles
.hook
  text-decoration none
  display inline-block
  color $hook
  &:after
    position absolute
    margin-top 22px
    margin-left -92px
    width 0
    content ''
    display inline-block
    height 2px
    background $hook
    transition width 0.3s ease 0s, left 0.3s ease 0s

  &:hover:after 
    width 93px

.link
  float left
  color $orange
  text-decoration underline
  clear both

.about
  margin-bottom 20px

  div
    width 100%
    
    .profile
      float left
      width 100%
      
      @media $laptop
        width 50%
      
      div
        width 300px
        height 200px
        margin 0 auto
        background url('../images/standard.gif') no-repeat
        background-size 100%
        transition all 0.25s ease-out
        border 1px solid $lightGray
        box-shadow 0 0 3px 1px rgba(0, 0, 0, 0.1)
        box-sizing border-box

        &:hover
          background url('../images/hover.gif') no-repeat
          background-size 100%
        
        @media $laptop
          width 435px
          height 290px
          margin 0 0

        @media $desktop
          width 600px
          height 400px

    article
      float left
      width 100%
      margin-top 24px
      
      @media $laptop
        margin-top 0
        width 50%

      p
        margin-top -5px
        width 100%
        
        @media $laptop
          max-width 545px

.contact article p
  margin-top -5px

.contact br
  display none
  
  @media $android
    display block

.contact-block
  float left
  width 278px
  
  .sig
    width 300px
    margin-left -10px
    clear both
  
  .email
    margin-left 120px
    text-decoration none
    display inline-block
    color $navy
    &:after
      position absolute
      margin-top 22px
      margin-left -159px
      width 0
      content ''
      display inline-block
      height 2px
      background $navy
      transition width 0.3s ease 0s, left 0.3s ease 0s

    &:hover:after 
      width 160px
  
  ul
    float right
    margin 10px 0 0 0
    padding 0
    list-style none
    li
      text-align right
      display inline-block
      a
        padding-left 15px
        font-size 1.75em
        color $orange
