.project
  position relative
  min-height 100%

// controls styling
.controls
  position relative
  top 0
  left 50%
  margin-left -75px
  width 150px
  height 55px
  z-index 999

  @media $tablet
    position absolute
    top 0
    left calc(100% - 50px)
    margin-left -150px

  @media $laptop
    left calc(100% - 35px)


  @media $desktop
    left 100%

  .prev
    float left
    width 50%

  .next
    float right
    width 50%

.project-nav
  display block
  text-align center
  text-decoration none
  text-transform uppercase
  color $orange
  font 700 44px $headFont
  letter-spacing 2px
  box-sizing border-box
  transition all 0.25s ease-out
  &:hover
    color $orange
  
  @media $tablet
    color $navy
    text-align right
    font 700 36px $headFont

// project header styling
.project-header
  position relative
  width 100%
  text-align center
  overflow auto
  margin-top 16px
  padding 2.75em 0
  border 1px solid $lightGray
  box-shadow 0 0 3px 1px rgba(0, 0, 0, 0.1)
  box-sizing border-box
  
  h4
    color $orange
    @media $iframe
      display none
  
  &.external
    padding 0
    height 340px
  
  i
    display none
    @media $iframe
      display block
      margin 0 auto
      cursor pointer
  
  iframe
    display none
    
    @media $iframe
      display block
      margin 0 auto
      border none

// project content styling
.project-content
  position relative
  top 16px
  display flex
  flex-flow row wrap
  align-content flex-start
  width 100%
  margin 0
  padding 0
  
  .sidebar
    flex 1 100%
    order 1
    height auto
    margin-top 16px
    border 1px solid $lightGray
    box-shadow 0 0 3px 1px rgba(0, 0, 0, 0.1)
    box-sizing border-box
    
    @media $tablet
      flex 1 35%
      order 1
    
    @media $laptop
      flex 2 30%

  article
    flex 1 100%
    order 2
    margin-top 16px
    box-sizing border-box
    
    @media $tablet
      flex 2 65%
      padding-left 2em
      margin-top 2px
    
    @media $laptop
      flex 2 70%

// sidebar styling
.date
  float left
  width 100%
  padding 1.5em 2em
  box-sizing border-box

  span 
    font 400 14px/18px $headFont
    color $black

    strong
      color $navy

.tech
  float left
  width 100%
  padding 0 2em 1.5em 2em
  box-sizing border-box

  span 
    font 400 14px/18px $headFont
    color $black

    strong
      color $navy
  
  ul
    margin 0
    padding 1em 1em 
    li
      font 400 14px/18px $headFont
      color $black

.crafted
  float left
  width 100%
  height 10px
  padding 0 2em 1.5em 2em
  box-sizing border-box