  h4
    font 700 16px/24px $headFont
    color $charcoal

  span
    font 600 12px/18px $headFont
    color $charcoal

  p
    font 400 14px/25px $bodyFont
    color $black

  h1
    position relative
    font 700 24px/32px $headFont
    letter-spacing 2px
    display inline-block
    color $navy
    text-transform uppercase
    margin-bottom 35px
    &:after
      position relative
      bottom -2px
      content ''
      display block
      height 2px
      left 0
      background $orange
      width 100%