// use @media and then the variable for nested media queries. 

$desktop = 'screen and (min-width: 1280px)'
$laptop = 'screen and (min-width: 960px)'
$tablet = 'screen and (min-width: 768px)'
$android = 'screen and (min-width: 480px)'
$iphone = 'screen and (min-width: 320px)'

// colors

$yellow = #FFE200
$black = #000
$white = #fff
$aqua = #007178
$charcoal = #ccc