.work
  width 100%
  padding 0
  margin 0
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around
  
  a
    position relative
    width 200px
    height 200px
    border 2px solid red
    box-sizing border-box
    
    div
      position absolute
      width 100%
      height auto
      top 50%
      transform translateY(-50%)
      text-align center